* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 48pt;
    background-image: url(./img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header .contenedor {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px auto;
    width: 100%;
    height: 80px;
}

a {
    text-decoration: none;
    color: white;
}

.colors {
    text-decoration: underline;
    margin-left: 5%;
}

header .contenedor ul {
    list-style: none;
    /* background-color: #FF000088; */
    width: 60%;
    margin: auto;
    text-align: center;
}

header .contenedor ul li {
    display: inline;
}

main {
    /* background-color: #00FF0020; */
    width: 100%;
    height: 92vh;
    display: flex;
    align-items: center;
}

main .contenedor {
    width: 998px;
    height: 340px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    width: 300px;
    height: 300px;
    border: 3px solid white;
    /* border-style: inset; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rojo {
    background-color: #FF0000;
    color: #00FF00;
}

.verde {
    background-color: rgb(0, 255, 0);
    color: rgb(255, 0, 0);
    margin: auto 20px;
}

.azul {
    background-color: hsl(240, 100%, 50%);
    color: white;
}